body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #800000;
    background-image: url(puppq.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: lighten;
    background-size: cover;
    color: #fff;
    text-align: left;
  }

  .container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    background-color: #800000;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  header h1 {
    font-size: 1.5rem;
    color: #e6c43c;
    margin-bottom: 10px;
  }

  header h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #f9f9f9;
    margin-bottom: 20px;
  }

  header p {
    font-size: 1rem;
    color: #f9f9f9;
    line-height: 1.5;
  }

  .form-container {
    margin-top: 30px;
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .form-group {
    flex: 1 1 calc(50% - 20px);
    padding-left: 10px;
  }

  label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: #333;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .sign-up-btn {
    width: 100%;
    padding: 10px;
    background-color: #800000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    grid-column: span 2;
  }

  .sign-up-btn:hover {
    background-color: #a00000;
  }

  .current-reservation-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  .current-reservation-btn:hover {
    background-color: #218838;
  }
